@model IEnumerable<Jenkins10.Models.Course>
<style>
    table,
    td,
    th {
        border: 1px solid;
        padding: 20px;
    }

    table {
        text-align: center;
    }
</style>
<!-- Your HTML content here to display the list of students -->
<table>
    <tr>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.CourseID)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
     
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
         
        </tr>
    }

